<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".js" mimeType="application/javascript; charset=UTF-8" />
            <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
            <mimeMap fileExtension=".htm" mimeType="text/html; charset=UTF-8" />
            <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
        </staticContent>
        
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type" />
                <add name="X-Content-Type-Options" value="nosniff" />
            </customHeaders>
        </httpProtocol>
        
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type" />
            </customHeaders>
        </httpProtocol>
        
        <rewrite>
            <rules>
                <rule name="Redirect to index.htm" stopProcessing="true">
                    <match url="^index\.html$" />
                    <action type="Redirect" url="index.htm" redirectType="Permanent" />
                </rule>
                <rule name="Fix script paths" stopProcessing="true">
                    <match url="^index\.html/(.*)$" />
                    <action type="Redirect" url="/cctv/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Handle subdirectory URLs" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.htm" />
                </rule>
            </rules>
        </rewrite>
        
        <defaultDocument>
            <files>
                <clear />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
